*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 30px;
    color: rgb(157, 63, 245) ;
}
.game{
    height: 800px;
    width: 90vw;
    background-color: rgb(157, 63, 245);
    margin: auto;
}
.circle{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-image: url("./egor.jpg");
    background-size: cover;
}
